.home-image {
  height: 100%;
  width: 100%;
}
.susan-header {
  font-family: cursive;
  line-height: 100px;
  font-size: 46px;
}

h4 {
  margin-bottom: 20px;
}
.col-sm-8 {
  padding-top: 15px;
}
.portfolio {
  border-right: 1px solid #DCDCDC;
}
